.idea/
*.iml
*.ipr
*.iws

.vscode/

target/
build/
out/

*.class
*.log

.DS_Store
Thumbs.db

.env
.env.*

HELP.md

**/src/main/resources/application.yaml
!**/src/main/resources/application-example.yaml
**/src/main/resources/application.properties
!**/src/main/resources/application.properties.example

**/application.yaml
**/application.yml
**/application.properties
